img {
  background: url("../../assets/img/WhatsApp%20Image%202020-11-25%20at%2010.02.29%20AM.jpeg");
  width: 200;
  min-width: 200;
  max-width: 100;
  height: 200;
  margin: 0;
  padding: 0;
}

img {
  width: 300;
  height: 220;
  text-align: center;
  margin: 0;
  border-bottom-style: none;
}

